.icon-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.icon {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  margin: 10px;
}

.icon :hover {
}

.save-btn {
  font-size: 16px;
  background-color: rgb(40, 144, 40);
  text-align: center;
  border: none;
  padding: 15px 32px;
  display: inline-block;
}

#crab {
  background-image: url(../../assets/icons/crab.jpeg);
  background-size: cover;
}

#fish {
  background-image: url(../../assets/icons/fish.jpeg);
  background-size: cover;
}

#octopus {
  background-image: url(../../assets/icons/octopus.jpeg);
  background-size: cover;
}

#shell {
  background-image: url(../../assets/icons/shell.jpeg);
  background-size: cover;
}

#starfish {
  background-image: url(../../assets/icons/starfish.jpeg);
  background-size: cover;
}

#whale {
  background-image: url(../../assets/icons/whale.jpeg);
  background-size: cover;
}
