.chat-div {
    height: calc(100vh - 90px);
    display: flex;
}

.sidebar {
    flex: 3.5;
}

.sidebar-wrapper {
    background-color: rgb(195, 216, 255);
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.search-bar {
    flex: 0.1;
}

.conversation-div {
    flex: 10.9;
    overflow-y: auto;
    height: auto;
}

.search-bar {
    width: 90%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 5px;
}

.chat {
    flex: 8.5;
}

.chat-wrapper {
    padding: 10px;
    background-color: rgb(208, 208, 208);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-output {
    height: 100%;
    overflow-y: auto;
    padding-right: 10px;
}

.chat-input {
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: space-between;
}

.chat-input-ta {
    height: 60px;
    width: 90%;
    padding: 10px;
    font-size: 15px;
    resize: none;
    overflow-y: auto;

}

.chat-submit-btn {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: lightblue;
}