.user-search-div {
    width: 500px;
    height: 200px;
    background-color: rgb(152, 152, 187);
}

.user-search-form {
    padding: 10px;
}

.user-search {
    display: flex;
    justify-content: center;
}

.username-div input {
    border: 1px solid black;
}

.username-err {
    color: red;
    font-size: 12px;
    text-align: center;
}